:root {
  --bg: #FFF7ED; /* 따뜻한 크림 베이스 */
  --highlight: #FFE4D6; 
  --primary: #E4AFAF; /* 말린장미 포인트 */
  --border: #E9D5CA;
  --text: #5A4A42;
}

.home-container {
  max-width: 420px;
  margin: 0 auto;
  padding: 16px;
  font-family: "Pretendard", sans-serif;
  padding-bottom: 80px;
  overflow-y: auto;
  background-color: #FFF7ED;
}
.emoji {
  font-size: 2.4rem;
  display: block;
  margin-bottom: 6px;
}

/* 검색창 */
.search-bar {
  display: flex;
  align-items: center;
  background: #FFE4D6;
  border-radius: 20px;
  padding: 8px 12px;
  max-width: 420px;
}
.search-bar:hover {
  cursor: grab;
}

.search-bar input {
  border: 1px #E4AFAF solid;

  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}
.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* 공부 장소 추천 */
.category-section {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.category-section.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-grid {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}
.category-grid :hover{
  background: #FFE4D6;
 
}
.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.2s;
  border: 1px solid #E4AFAF;
  border-radius: 12px;
}
.category-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 6px;
  border-radius: 8px;
}

/* 카페 이용 목적 */
.purpose-section {
  margin-bottom: 24px;
}
.purpose-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}
.purpose-grid :hover{
  background: #FFE4D6;
 
}
.purpose-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.2s;
  border: 1px solid #E4AFAF;
  border-radius: 12px;
}

.purpose-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 6px;
  border-radius: 8px;
}
.purpose-item span {
  /* font-size: 14px; */
  font-weight: 500;
}

/* 추천 카페 리스트 */
.recommend-section {
  margin-top: 10vh;
  margin-bottom: 60px;
}
.cafe-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tag-list {
  margin-top: 4px;
}
.hometag {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 4px;
  background: #eee;
}

/* 하단 네비게이션 */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #E4AFAF;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.bottom-nav .active {
  color: black;
  font-weight: 600;
}

/* 반응형 */
@media (max-width: 420px) {
  .purpose-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .category-grid {
    gap: 6px;
  }
}
